* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "微软雅黑";
  font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: transparent;
  text-decoration: none;
}

ol,
ul,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}